html, body{
    background: #abe2e2 !important;
    overflow: hidden;
}

.container {
    width: 95%;
    height: 100vh;
    display: flex;
}

.quotes {
    width: 900px;
    height: 450px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: gray;
    background-color: bisque;
    border: 10px solid #e6d327;
}

.quotes p, .quotes h3 {
    font-size: 1.5rem;
}

.button {
    margin-top: -10%;
}

@media(max-width:480px) {
    .quotes p, .quotes h3 {
        font-size: 1rem;
    }
}